/*
hiding unnneded toolbar menus and buttons
*/
#save-notbook {
    display: none !important;
}

/*
hiding the menu bar
*/
#menubar {
    display: none !important;
}

button[title="insert cell below"] {
    display: none !important;
}

button[title="cut selected cells"] {
    display: none !important;
}

button[title="copy selected cells"] {
    display: none !important;
}

button[title="paste cells below"] {
    display: none !important;
}

button[title="move selected cells up"] {
    display: none !important;
}

button[title="move selected cells down"] {
    display: none !important;
}

button[title="open the command palette"] {
    display: none !important;
}

button[title="Exercise2: Create/Remove exercise"] {
    display: none !important;
}

button[title="Toggle split/centered cell style"] {
    display: none !important;
}

button[title="lift restrictions from selected cells"] {
    display: none !important;
}

button[title="make selected cells read-only"] {
    display: none !important;
}

button[title="freeze selected cells"] {
    display: none !important;
}

/* hiding Binder buttons */
button[title="Download visible"] {
    display: none !important;
}

/*
hiding Binder buttons
*/
button[title="Download visible"] {
    display: none !important;
}

button[title="Visit Binder repository"] {
    display: none !important;
}

button[title="Link to this Binder"] {
    display: none !important;
}

/*
hiding migration notice (Notebook 7)
*/
#nbclassic_notebook7_banner {
    display: none !important;
}
